* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin: 0 auto -215px; /* the bottom margin is the negative value of the footer's height */
  padding-top: 70px;
}
footer{
  position:relative;
  height:auto;
  min-height: 215px;
}
.push {
  height: 215px; /* '.push' must be the same height as 'footer' */
}
footer .footer-left{
  float:left;
}
footer .footer-right{
  float:right;  
  vertical-align: top;
  margin: 12px 42px 0 0;
  color: #ffffff;
}
.footer-div {
  background-color: #252525;
  padding: 15px 60px 40px;
  color:white;
}
.footer-div h3{  
  color:white;
}
.footer-div h3 span {
  color: #008cba;
}
.footer-div .developed-by,.footer-div .developed-by a{
  color: #8f9296;
}

.text-center{
  text-align: center;
}
.section{
  display:block;
  padding:48px 0;
}
footer a:hover {
    font-style: italic;
}
.footer-right i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-right p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;    
}

@media (max-width: 1000px) {

  .footer-div {
    font: bold 14px sans-serif;
  }

  .footer-div .developed-by{
    font-size: 12px;
  }

  .footer-div form input,
  .footer-div form textarea{
    width: 250px;
  }

  .footer-div form button{
    padding: 10px 35px;
  }
}

@media (max-width: 800px) {

  .footer-div{
    padding: 30px;
  }

  .footer-div .footer-left,
  .footer-div .footer-right{
    float: none;
    max-width: 300px;
    margin: 0 auto;
    vertical-align: middle;
  }

  .footer-div .footer-left{
    margin-bottom: 40px;
  }
  .footer-right p{  
    color: #ffffff;
    vertical-align: middle;
    margin: 0;    
    max-width:200px;
  }
}
